In [5]:
import numpy as np
import pandas as pd

In [27]:
aa = pd.read_csv('to_data/Seoul_traffic/A(도심) 1분.txt', encoding='euc-kr', header=1)

In [43]:
aa.iloc[:,1].unique()

array(["'A-01'", "'A-02'", "'A-03'", "'A-04'", "'A-05'", "'A-06'",
       "'A-07'", "'A-08'", "'A-09'", "'A-10'", "'A-11'", "'A-12'",
       "'A-13'", "'A-14'", "'A-15'", "'A-16'", "'A-17'", "'A-18'",
       "'A-19'", "'A-23'"], dtype=object)

In [34]:
aa.

         '성산로(금화터널)'  'A-01'  '유입'  '20210101'  '0000'  '1'  '0'
0        '성산로(금화터널)'  'A-01'  '유입'  '20210101'  '0001'  '1'  '4'
1        '성산로(금화터널)'  'A-01'  '유입'  '20210101'  '0002'  '1'  '1'
2        '성산로(금화터널)'  'A-01'  '유입'  '20210101'  '0003'  '1'  '0'
3        '성산로(금화터널)'  'A-01'  '유입'  '20210101'  '0004'  '1'  '2'
4        '성산로(금화터널)'  'A-01'  '유입'  '20210101'  '0005'  '1'  '1'
...              ...     ...   ...         ...     ...  ...  ...
8809549   '소월로(회현역)'  'A-23'  '유출'  '20210228'  '2355'  '1'  '0'
8809550   '소월로(회현역)'  'A-23'  '유출'  '20210228'  '2356'  '1'  '1'
8809551   '소월로(회현역)'  'A-23'  '유출'  '20210228'  '2357'  '1'  '0'
8809552   '소월로(회현역)'  'A-23'  '유출'  '20210228'  '2358'  '1'  '0'
8809553   '소월로(회현역)'  'A-23'  '유출'  '20210228'  '2359'  '1'  '0'

[8809554 rows x 7 columns]

In [47]:
bb = pd.read_csv('to_data/Tmoney/trip/N_TRP_220515.csv', encoding='utf-8')

/tmp/ipykernel_130909/567188890.py:1: DtypeWarning: Columns (9,10,15,16,17,18,19,23,24,26,27,31,32,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  bb = pd.read_csv('to_data/Tmoney/trip/N_TRP_220515.csv', encoding='utf-8')

,운행일자,트랜잭션ID,환승횟수,교통카드구분코드,교통카드사용자구분코드,교통카드사용자구분코드1,교통카드사용자구분코드2,교통카드사용자구분코드3,승차총승객수,최초승차일시,...,승차일시5,하차일시5,승차역ID5,하차역ID5,이용거리5,환승여부,총이용시간,총이용건수,총이용금액,승차위반금액
0,20220515,51,0,2,1,1,~,~,1,20220515224000,...,~,~,~,~,0,N,17,1,1250,0
1,20220515,1,0,2,1,1,~,~,1,20220515113000,...,~,~,~,~,0,N,17,1,1250,0
2,20220515,62,0,2,1,1,~,~,1,20220515151000,...,~,~,~,~,0,N,17,1,1250,0
3,20220515,3,0,2,1,1,~,~,1,20220515151000,...,~,~,~,~,0,N,17,1,1250,0
4,20220515,14,0,2,1,1,~,~,1,20220515145000,...,~,~,~,~,0,N,17,1,1250,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8063501,20220515,61,0,2,1,1,~,~,1,20220515120000,...,~,~,~,~,0,N,28,1,1350,0
8063502,20220515,38,1,2,1,1,~,~,1,20220515221000,...,~,~,~,~,0,Y,35,2,1350,0
8063503,20220515,77,0,2,1,1,~,~,1,20220515105000,...,~,~,~,~,0,N,28,1,1250,0
8063504,20220515,47,1,2,1,1,~,~,1,20220515143000,...,~,~,~,~,0,Y,29,2,1350,0
8063505,20220515,72,1,2,1,1,~,~,1,20220515232000,...,~,~,~,~,0,Y,41,2,1350,0

In [73]:
arr = bb.iloc[:,9].unique()
arr2 = np.concatenate((arr[:-13], arr[-12:]))
arr2 = [int(num) for num in arr2]

In [74]:
min(arr2)

20220515040000

In [75]:
max(arr2)

20220516035000